.navbar-default {
    background-color: #006599;
    border-color: #0099c2;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #006599;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #0099c2;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #0099c2;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0099c2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0099c2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #0099c2;
}

.navbar-default .navbar-toggle {
    border-color: #0099c2;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0099c2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #0099c2;
    }
}

body {

}

#main {
    padding-bottom: 30px;
}

footer {
    color: #666666;
    background: #EAEAEA;
    height: 60px;
    /*bottom: 0px;*/
    /*position: absolute;*/
    /*width: 100%;*/
}

footer .copyright {
    display: block;
    margin: 20px;
}

footer .icp {
    display: block;
    margin: 20px;
}

a {
    color: #767676;
    padding: 0px 8px
}

#top {
    margin-top: 10px;
    margin-bottom: 10px;
}

#top .avatar {
    width: 32px;
    margin: 5px;
}

.videos .cover {
    border: 1px solid;
}

.videos .follow {
    margin-top: 100px;
}

.videos .avatar {
    width: 32px;
    margin: 5px;
}

.videos .avatar-large {
    width: 132px;
}

.videos .updated_at {
    margin-top: 20px;
}

#video_container {
}

.no_video {
    padding: 100px;
}

.login .recommend {
    margin: 30px;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }


.video-admin {

}

.video-admin .title{
    overflow: hidden;
}
.video-admin dt{
    width: 70px;
}

